In [1]:
!pip install ipython-sql
!pip install psycopg2-binary
!pip install pandas
!pip install numpy

Requirement already satisfied: ipython-sql in /opt/conda/lib/python3.9/site-packages (0.4.0)
Requirement already satisfied: ipython>=1.0 in /opt/conda/lib/python3.9/site-packages (from ipython-sql) (7.23.1)
Requirement already satisfied: prettytable<1 in /opt/conda/lib/python3.9/site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: sqlalchemy>=0.6.7 in /opt/conda/lib/python3.9/site-packages (from ipython-sql) (1.3.9)
Requirement already satisfied: sqlparse in /opt/conda/lib/python3.9/site-packages (from ipython-sql) (0.4.1)
Requirement already satisfied: ipython-genutils>=0.1.0 in /opt/conda/lib/python3.9/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: six in /opt/conda/lib/python3.9/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: pickleshare in /opt/conda/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: backcall in /opt/conda/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: decorator in /opt/conda/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (5.0.9)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /opt/conda/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (3.0.18)
Requirement already satisfied: matplotlib-inline in /opt/conda/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (0.1.2)
Requirement already satisfied: setuptools>=18.5 in /opt/conda/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (49.6.0.post20210108)
Requirement already satisfied: jedi>=0.16 in /opt/conda/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (0.18.0)
Requirement already satisfied: pexpect>4.3 in /opt/conda/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (4.8.0)
Requirement already satisfied: traitlets>=4.2 in /opt/conda/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (5.0.5)
Requirement already satisfied: pygments in /opt/conda/lib/python3.9/site-packages (from ipython>=1.0->ipython-sql) (2.9.0)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /opt/conda/lib/python3.9/site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.2)
Requirement already satisfied: ptyprocess>=0.5 in /opt/conda/lib/python3.9/site-packages (from pexpect>4.3->ipython>=1.0->ipython-sql) (0.7.0)
Requirement already satisfied: wcwidth in /opt/conda/lib/python3.9/site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: psycopg2-binary in /opt/conda/lib/python3.9/site-packages (2.9.1)
Requirement already satisfied: pandas in /opt/conda/lib/python3.9/site-packages (1.2.4)
Requirement already satisfied: python-dateutil>=2.7.3 in /opt/conda/lib/python3.9/site-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in /opt/conda/lib/python3.9/site-packages (from pandas) (2021.1)
Requirement already satisfied: numpy>=1.16.5 in /opt/conda/lib/python3.9/site-packages (from pandas) (1.20.3)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.9/site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Requirement already satisfied: numpy in /opt/conda/lib/python3.9/site-packages (1.20.3)

In [2]:
import numpy as np
import pandas as pd
import psycopg2
import pandas.io.sql as sqlio
import matplotlib.pyplot as plt
import pylab as pl
%matplotlib inline
from IPython.display import clear_output

In [3]:
psql = psycopg2.connect(host='192.168.10.163', port='5432', database='Otomoto', user='barto', password='biznes')

In [4]:
cur = psql.cursor()
sql = "select * from Otomoto;"
dat = sqlio.read_sql_query(sql, psql)
conn = None
dat.shape

(2992, 51)

In [5]:
dat.head()

,id,cena,oferta_od,kategoria,marka_pojazdu,model_pojazdu,rodzaj_paliwa,moc,pojemnosc_skokowa,liczba_drzwi,...,miesieczna_rata,lub_do_przebieg_km,gwarancja_dealerska_w_cenie,homologacja_ciezarowa,oplata_poczatkowa,liczba_pozostalych_rat,wartosc_wykupu,kierownica_po_prawej_anglik,zarejestrowany_jako_zabytek,link
0,6.088515e+09,61900.0,Firmy,Osobowe,Abarth,595,Benzyna,145.0,1368.0,3.0,...,None,None,None,None,None,None,None,None,None,https://www.otomoto.pl/oferta/abarth-595-darmo...
1,6.088033e+09,71900.0,Firmy,Osobowe,Abarth,595,Benzyna,145.0,1368.0,3.0,...,None,None,None,None,None,None,None,None,None,https://www.otomoto.pl/oferta/abarth-595-darmo...
2,6.088507e+09,67900.0,Firmy,Osobowe,Abarth,595,Benzyna,145.0,1368.0,3.0,...,None,None,None,None,None,None,None,None,None,https://www.otomoto.pl/oferta/abarth-595-darmo...
3,6.088316e+09,52800.0,Firmy,Osobowe,Abarth,595,Benzyna,145.0,1368.0,3.0,...,None,None,None,None,None,None,None,None,None,https://www.otomoto.pl/oferta/abarth-595-abart...
4,6.087417e+09,66900.0,Osoby prywatnej,Osobowe,Abarth,595,Benzyna,270.0,1400.0,3.0,...,None,None,None,None,None,None,None,None,None,https://www.otomoto.pl/oferta/abarth-595-abart...

In [6]:
print(type(dat))

<class 'pandas.core.frame.DataFrame'>

In [11]:
BMW = 0
for i in dat['marka_pojazdu']:
    if 'BMW' in i:
        BMW += 1
print('BMW: ',BMW)

Ferrari = 0
for i in dat['marka_pojazdu']:
    if 'Ferrari' in i:
        Ferrari += 1
print('Ferrari: ',Ferrari)

Lamborghini = 0
for i in dat['marka_pojazdu']:
    if 'Lamborghini' in i:
        Lamborghini += 1
print('Lamborghini: ',Lamborghini)

BMW:  64
Ferrari:  55
Lamborghini:  24

In [14]:
table = {'BMW': [BMW], 'Ferrari': [Ferrari],'Lamborghini': [Lamborghini]}
df_table = pd.DataFrame(table)

In [15]:
df_table.head()

   BMW  Ferrari  Lamborghini
0   64       55           24

In [16]:
df_table.transpose()

              0
BMW          64
Ferrari      55
Lamborghini  24

In [19]:
# initialize the waffle chart as an empty matrix
waffle_chart = np.zeros((height, width), dtype = np.uint)

# define indices to loop through waffle chart
category_index = 0
tile_index = 0

# populate the waffle chart
for col in range(width):
    for row in range(height):
        tile_index += 1

        # if the number of tiles populated for the current category is equal to its corresponding allocated tiles...
        if tile_index > sum(tiles_per_category[0:category_index]):
            # ...proceed to the next category
            category_index += 1       
            
        # set the class value to an integer, which increases with class
        waffle_chart[row, col] = category_index
        
print ('Waffle chart populated!')

NameError: name 'height' is not defined